<!doctype html>
<html>
	<head>
        <meta charset="utf-8">
        <title>LeanKit TicketForm</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/static/css/site.css" rel="stylesheet">
	</head>
	<body>
		<header id="top-bar">
            <a id="top-bar-logo" href="http://lr-brand-releases.laterooms.com"></a>
            <div class="top-bar-section">
                <ul>
                    <li>Ticket Wizard</li>
                </ul>
            </div>
        </header>

		<div class="request-form">
		    <h1>{{title}}</h1>

		    {{#if summary}}
		    	<p>{{summary}}</p>
		    {{/if}}

		    {{#sections}}
		    	{{#if title}}
		    		<h2>{{title}}</h2>
		    	{{/if}}
		    	<div class="request-section">
		    	{{#fields}}
            		{{renderComponent inputType}}

			        {{#if isMultiChoice}}
			        	<div class="bau-request-item">
			                <label>{{label}}</label>
			                <div class="request-item multiple-choice" data-field-type="{{type}}">
			                	{{#options}}
			                		<label class="multiple-choice-item"><input type="{{../inputType}}" name="{{../name}}" value="{{value}}"{{#if selected}}checked{{/if}} /> {{label}}</label>
			                	{{/options}}
			            	</div>
			        	</div>
			        {{/if}}
			        {{#if isTable}}
                        <!--
							.data('rowUid', currentUid)
                            .addClass('row-' + currentUid)
                        -->
			        	<table class="entry-table request-item" data-field-type="{{type}}" data-field-name="{{name}}">
			        		{{#if value}}
			        			{{#value.rows}}
                                    <tr class="header-row row-{{index}}" data-row-uid="{{index}}">
                                        <th colspan="2" class="table-header">
                                            <div class="table-header-text">{{../label}} #<span class="row-index">{{index}}</span></div>
                                            <a class="btn btn-danger delete-row-button" role="button"><span class="glyphicon glyphicon-trash requirement-delete"></span></a>
                                        </th>
                                    </tr>
			        				{{#columns}}
										<tr class="field-row row-{{../index}}" data-row-uid="{{../index}}">
											<th>{{label}}</th>
                                            <td{{#if multiline}} class="textarea-cell"{{/if}}>
                                                {{#if multiline}}
                                                    <textarea data-field-label="{{label}}" class="table-textarea table-input">{{value}}</textarea>
                                                {{/if}}
                                                {{#if singleline}}
                                                    <input class="table-input" type="text" data-field-label="{{label}}" value="{{value}}" />
                                                {{/if}}
		                                    </td>
										</tr>
									{{/columns}}
								{{/value.rows}}
			        		{{/if}}
			        		<tr class="template-row header-row">
			        			<th colspan="2" class="table-header">
		        					<div class="table-header-text">{{label}} #<span class="row-index"></span></div>
			        				<a class="btn btn-danger delete-row-button" role="button"><span class="glyphicon glyphicon-trash requirement-delete"></span></a>
			        			</th>
			        		</tr>
			        		{{#rows}}
								<tr class="template-row field-row {{#if isLastRow}} last-row{{/if}}">
									<th>{{label}}</th>
									<td{{#if multiline}} class="textarea-cell"{{/if}}>
                                        {{#if multiline}}
                                            <textarea data-field-label="{{label}}" class="table-textarea table-input">{{value}}</textarea>
                                        {{/if}}
                                        {{#if singleline}}
                                            <input class="table-input" type="text" data-field-label="{{label}}" {{#if value}} value="{{value}}"{{/if}} />
                                        {{/if}}
                                    </td>
								</tr>
			        		{{/rows}}
			        		<tr>
			        			<td colspan="2" class="new-row">
		        					<a class="btn btn-success add-row-button" role="button"><span class="glyphicon glyphicon-plus"></span> Add {{label}}</a>
		    					</td>
			        		</tr>
			        	</table>
			        {{/if}}
		    	{{/fields}}
		    	</div>
	    	{{/sections}}

	    	{{#if allowAttachments}}
    			<h2>Attachments</h2>
	    		<div class="attachments-container">

	    		</div>
	    	{{/if}}

		    <div class="request-section right">
		        <a class="btn btn-primary btn-lg" role="button" id="create-ticket">Submit Request</a>
		    </div>
		</div>

		<script src="/static/js/lib/jquery.min.js"></script>
        <script src="/static/js/TicketWizard/ComponentRegistry.js"></script>
        <script src="/static/js/TicketWizard/Components/text.js"></script>
        <script src="/static/js/TicketWizard/Components/table.js"></script>
        <script src="/static/js/TicketWizard/TicketViewModel.js"></script>

		<script type="text/javascript">
			var entryTables = $('.entry-table');
			var rowUid = $('.header-row:not(.template-row)').size();

			function setRowHeaderIndicies(table) {
				var indicies = $('.row-index', table);
				indicies.each(function(i) {
					$(this).text(i + 1);
				});
			}

			entryTables.each(function() {
				var table = $(this);
				var templateRows = $('.template-row', table);

				function setRowHeaderIndiciesForTable() {
					setRowHeaderIndicies(table);
				}

				table
					.on('click', '.add-row-button', function() {
						var currentUid = ++rowUid;

						templateRows.clone()
							.removeClass('template-row')
							.data('rowUid', currentUid)
                            .addClass('row-' + currentUid)
							.insertBefore(templateRows[0]);

						setRowHeaderIndiciesForTable();
					})
					.on('click', '.delete-row-button', function() {
						var row = $(this).closest('tr');
						var rowUid = row.data('rowUid');
						$('.row-' + rowUid, table).remove();

						setRowHeaderIndiciesForTable();
					});
			});

            function insertNewLines(value) {
                if(!value) {
                    return value;
                }

                return value.replace(/\r?\n/g, "<br />");
            }

			$('#create-ticket').on('click', function(){
				var formFields = $('.request-item');

				var ticket = {
					title: '',
					description: {},
					tags: []
				};

				formFields.each(function() {
					var field = $(this);
					var fieldType = field.data('fieldType');
					var value = this.value;
					var valueIsArray;

					if(field.hasClass('multiple-choice')) {
						var items = $('input:checked', field);
						value = [];
						valueIsArray = true;

						items.each(function() {
							if(!this.value) {
								return true;
							}
							value.push(this.value);
						});
					}

					if(fieldType === 'title') {
						ticket.title += value;
					}
					else if (fieldType === 'description') {
						ticket.description[field.data('fieldName')] = insertNewLines(value);
					}
					else if (fieldType === 'table') {
						var tableRows = [];
						var headerRows = $('.header-row:not(.template-row)', field);
						var rows = headerRows.map(function() {
							return $('.row-' + $(this).data('rowUid') + ':not(.header-row)');
						});

						rows.each(function() {
							var setOfRows = this;
							var currentRow = [];
							
							this.each(function() {
								var inputField = $('.table-input', this);
								var currentValue = inputField.val() || '';

								currentRow.push({ label: inputField.data('fieldLabel'), value: insertNewLines(currentValue) });
							});

							tableRows.push({
								columns: currentRow
							});
						});

						ticket.description[field.data('fieldName')] = tableRows;
					}
					else if (fieldType === 'tag') {
						if (valueIsArray) {
							ticket.tags.push.apply(ticket.tags, value);
						}
						else { 
							ticket.tags.push(value);
						}
					}
				});

				$.ajax({
					url: '{{createUrl}}',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify(ticket),
					cache: false
				}).then(function() {
					alert('Complete');
				},
				function() {
					alert('Failed');
				});
			});
		</script>
	</body>
</html>