<!doctype html>
<html>
	<head>
        <meta charset="utf-8">
        <title>LeanKit TicketForm</title>
        <meta name="viewport" content="width=device-width">

        <style>
			body { width: 600px;margin: 0 auto;font-family: Helvetica, arial, freesans, clean, sans-serif; }

			.bau-request-form ul { margin: 0;padding: 0;list-style: none }

			.bau-request-form li { margin: 0;padding: 0; }

			.request-section label {font-weight: bold;}

			.request-section label.single-line { font-weight: bold;display: inline-block;width: 130px; }

			.request-section input.single-line { width: 200px; }

			.request-details { width: 100%;height: 200px; }

			.request-details-small { width: 100%;height: 100px; }

			.request-section { margin-top: 10px; }

			.right { text-align: right; }
        </style>
	</head>
	<body>

		<div class="bau-request-form">
		    <h1>{{title}}</h1>

		    <p>{{summary}}</p>
		    
		    {{#sections}}
		    	<div class="request-section">
		    	{{#fields}}
			        <div>
			            <label for="{{name}}" class="single-line">{{label}}</label>
			            <input type="text" class="single-line" id="{{name}}" data-field-type="{{type}}" class="request-item" />
			        </div>
		    	{{/fields}}
		    	</div>
	    	{{/sections}}
		    
		    <div class="request-section">
		        <label>Details of Ticket / Summary of Issue</label>
		        <textarea class="request-details request-item" data-field-type="description" data-field-name="summary"></textarea>
		    
		        <label>Requirements</label>
		        <textarea class="request-details request-item" data-field-type="description" data-field-name="requirements"></textarea>
		    </div>
		    
		    <div class="request-section">
		        <ul>
		            <li>
		                <label>Which site / sites will the change be made to?</label>
		                <div class="request-item" data-field-type="multi-choice">
			                <label><input type="checkbox" name="Sites" value="LR.com" /> LR.com</label>
			                <label><input type="checkbox" name="Sites" value="LR.com Mobile" /> LR.com Mobile</label>
			                <label><input type="checkbox" name="Sites" value="AR.com" />AR.com</label>
			                <label><input type="checkbox" name="Sites" value="AR.com Mobile" />AR.com Mobile</label>
		            	</div>
		            </li>
		            <li>
		                <label>Identify if the change will affect more than one page</label>
		                <div class="request-item" data-field-type="multi-choice">
			                <label><input type="radio" name="MoreThanOnePage" value="Affects more than one page" /> Yes</label>
			                <label><input type="radio" name="MoreThanOnePage" value="" checked /> No</label>
		                </div>
		            </li>
		            <li>
		                <label>Identify the specific expected behaviour</label>
		            </li>
		            <li>
		                <label>Identify the specific constraints</label>
		            </li>
		            <li>
		                <label>Identify if a new text will be introduced</label>
		            </li>
		            <li>
		                <label>Translation of new text </label>
		            </li>
		            <li>
		                <label>Identify if the artwork is needed and provided</label>
		            </li>
		        </ul>
		    </div>

		    
		    <div class="request-section">
		        <label>Background / Reason for change</label>
		        <textarea class="request-details-small request-item" data-field-type="description" data-field-name="background"></textarea>
		    
		        <label>Business Rationale / Impact</label>
		        <textarea class="request-details request-item" data-field-type="description" data-field-name="businessRationale"></textarea>
		        
		        <label>How will success be measured?</label>
		        <textarea class="request-details-small request-item" data-field-type="description" data-field-name="successMeasurement"></textarea>
		    </div>    
		    
		    <div class="request-section right">
		        <button id="create-ticket" class="form-button">Submit Request</button>
		    </div>
		</div>

		<script src="/static/jquery.min.js"></script>
		<script type="text/javascript">
			$('#create-ticket').on('click', function(){
				var formFields = $('.request-item');

				var ticket = {
					title: '',
					description: {},
					tags: []
				};

				formFields.each(function() {
					var field = $(this);
					var fieldType = field.data('fieldType');

					if(fieldType === 'title') {
						ticket.title += this.value;
					}
					else if (fieldType === 'description') {
						ticket.description[field.data('fieldName')] = this.value;
					}
					else if (fieldType === 'tag') {
						ticket.tags.push(this.value);
					}
					else if (fieldType === 'multi-choice') {
						var items = $('input:checked', field);

						items.each(function() {
							if(!this.value) {
								return true;
							}
							ticket.tags.push(this.value);
						});
					}
				});

				$.ajax({
					url: '/create',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify(ticket),
					cache: false
				});
			});
		</script>
	</body>
</html>