<!doctype html>
<html>
	<head>
        <meta charset="utf-8">
        <title>LeanKit TicketForm</title>
        <meta name="viewport" content="width=device-width">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

        <style>
			body { width: 600px;margin: 0 auto 10px auto;font-family: Helvetica, arial, freesans, clean, sans-serif; }

			.bau-request-form ul { margin: 0;padding: 0;list-style: none }

			.bau-request-form li { margin: 0;padding: 0; }

			.request-section label {font-weight: bold;}

			.request-section label.single-line { font-weight: bold;display: inline-block;width: 130px; }

			.request-section input.single-line { width: 200px; }

			.request-details { width: 100%;height: 200px; }

			.request-details.small { height: 100px; }

			.request-section { margin-top: 10px; }

			.bau-request-item { margin: 10px 0; }

			.multiple-choice-item { padding: 5px 5px 5px 5px; margin-right: 5px; border: solid 1px #ddd; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background-color: #eee; cursor: pointer; }

			.right { text-align: right; }
        </style>
	</head>
	<body>

		<div class="bau-request-form">
		    <h1>{{title}}</h1>

		    <p>{{summary}}</p>
		    
		    {{#sections}}
		    	<div class="request-section">
		    	{{#fields}}
		    		{{#if isTextField}}
			        <div class="bau-request-item">
			            <label for="{{name}}" class="single-line">{{label}}</label>
			            <input type="text" class="{{fieldCssClass}}" id="{{name}}" data-field-type="{{type}}" />
			        </div>
			        {{/if}}
		    		{{#if isTextArea}}
			        <div>
				        <label for="{{name}}">{{label}}</label>
				        <textarea class="{{fieldCssClass}}" id="{{name}}" data-field-type="{{type}}" data-field-name="{{fillpoint}}"></textarea>
			        </div>
			        {{/if}}
			        {{#if isMultiChoice}}
			        	<div class="bau-request-item">
			                <label>{{label}}</label>
			                <div class="request-item multiple-choice" data-field-type="{{type}}">
			                	{{#options}}
			                		<label class="multiple-choice-item"><input type="{{../inputType}}" name="{{../name}}" value="{{value}}"{{#if selected}}checked{{/if}} /> {{label}}</label>
			                	{{/options}}
			            	</div>
			        	</div>
			        {{/if}}
		    	{{/fields}}
		    	</div>
	    	{{/sections}}

		    <div class="request-section right">
		        <a class="btn btn-primary btn-lg" role="button" id="create-ticket">Submit Request</a>
		    </div>
		</div>

		<script src="/static/js/jquery.min.js"></script>
		<script type="text/javascript">
			$('#create-ticket').on('click', function(){
				var formFields = $('.request-item');

				var ticket = {
					title: '',
					description: {},
					tags: []
				};

				formFields.each(function() {
					var field = $(this);
					var fieldType = field.data('fieldType');
					var value = this.value;
					var valueIsArray;

					if(field.hasClass('multiple-choice')) {
						var items = $('input:checked', field);
						value = [];
						valueIsArray = true;

						items.each(function() {
							if(!this.value) {
								return true;
							}
							value.push(this.value);
						});
					}

					if(fieldType === 'title') {
						ticket.title += value;
					}
					else if (fieldType === 'description') {
						ticket.description[field.data('fieldName')] = value;
					}
					else if (fieldType === 'tag') {
						if (valueIsArray) {
							ticket.tags.push.apply(ticket.tags, value);
						}
						else { 
							ticket.tags.push(value);
						}
					}
				});

				$.ajax({
					url: '{{createUrl}}',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify(ticket),
					cache: false
				});
			});
		</script>
	</body>
</html>