<h2>A - Statement of Requirement - (Value – how can we measure?)<h2>
{{#requirement}}
	<table style="border: solid 1px #000; width: 100%;border-collapse:collapse;margin-bottom: 5px;">
		{{#columns}}
			<tr>
				<th style="text-align: left; background-color: #ddd; width: 100px; font-size: 0.9em;border: solid 1px #000;">{{label}}</th>
				<td style="border: solid 1px #000;">{{value}}</td>
			</tr>
		{{/columns}}
	</table>
{{/requirement}}

{{#if asIs}}
	<h3>As Is</h3>
	<p>
		{{asIs}}
	</p>
{{/if}}

{{#if toBe}}
	<h3>To Be</h3>
	<p>
		{{toBe}}
	</p>
{{/if}}

<h2>B - Functional Acceptance Criteria - (QA - Include other regression tests where applicable)<h2>
{{#acceptanceCriteria}}
	<table style="border: solid 1px #000; width: 100%;border-collapse:collapse;margin-bottom: 5px;">
		{{#columns}}
			<tr>
				<th style="text-align: left; background-color: #ddd; width: 100px; font-size: 0.9em;border: solid 1px #000;">{{label}}</th>
				<td style="border: solid 1px #000;">{{value}}</td>
			</tr>
		{{/columns}}
	</table>
{{/acceptanceCriteria}}

<h2>D - Story Reviewed</h2>
<table style="border: solid 1px #000; width: 100%;border-collapse:collapse">
	<tr>
		<th style="text-align: left; background-color: #ddd; width: 100px; font-size: 0.9em;border: solid 1px #000;">BA</th>
		<td style="border: solid 1px #000;">{{baReviewer}}</td>
	</tr>
	<tr>
		<th style="text-align: left; background-color: #ddd; width: 100px; font-size: 0.9em;border: solid 1px #000;">QA</th>
		<td style="border: solid 1px #000;">{{qaReviewer}}</td>
	</tr>
	<tr>
		<th style="text-align: left; background-color: #ddd; width: 100px; font-size: 0.9em;border: solid 1px #000;">Dev</th>
		<td style="border: solid 1px #000;">{{devReviewer}}</td>
	</tr>
</table>